@import "./var.scss";

.login-logo {
    height: 15rem;
    width: 15rem;
    margin: 5% auto;
    display: block;
}

.login-container {
    width: 35%;
    margin: 0 auto;

    input {
        padding: 0.75rem 1.25rem;
    }

    .password-input {
        position: relative;
        margin-top: 1rem;
        .login-eye-icon {
            color: rgba($color: #000000, $alpha: 0.5);
            position: absolute;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
            height: 2.5rem;
            width: 2rem;
            position: absolute;
            cursor: pointer;
        }
    }

    .login-account-options {
        
        display: flex;
        flex-direction: column;

        .login-button {
            Button {
                width: 100%;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .account-options {
            color: $gray-500;
            display: flex;
            justify-content: space-between;
        }
    }

    .social-login-title {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: $font-2xl;
    }

    .social-login {
        display: flex;
        justify-content: space-between;

        .naver-login {
            border: 0px;
            border-radius: 1.875rem;

            img {
                height: 3.125rem;
                width: 100%;
            }
        }

        .google-login {
            border: 0px;
            border-radius: 1.875rem;
            
            img {
                height: 3.125rem;
                width: 100%;
            }
        }
    }
}

// Button {
//     width: 100%;
//     margin-top: 15px;
//     margin-bottom: 15px;
// }