// 색상 컬러
$main-color: #03624c; // 진한 초록 (기본)
$main-color-hover: #024c3b;

$sub-color: #aacbc4;
$sub-color-hover: #94b7ae;

$disabled-color: #6f7d7d;
$disabled-color-hover: #5d6868;

$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-700: #374151;

$red-500: #dc2626;

// 폰트 사이즈
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.125rem; // 18px
$font-xl: 1.25rem; // 20px
$font-2xl: 1.5rem; // 24px