@import "../var.scss";

// 일간 베스트 스타일
.book-daily-best {
  width: 100%;
  margin-top: 1rem;

  .book-list-row {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    
    /* 스크롤바 숨김 - 크롬, 사파리, 오페라 */
    &::-webkit-scrollbar {
      display: none;
    }

    /* IE, Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    .book-item {
      flex: 0 0 auto;
      width: 150px;
      height: 30rem;
      margin:7rem 15rem 7rem 15rem;
      background: #f5f5f5;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      .book-list-details {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        .book-title {
          font-size: 2rem;
          padding-bottom: 2rem;
          color: #024c3b;
        }

        .book-price {
          color: #024c3b;
          font-size: 2rem;
        }
      }
    }
  }
}

.book-list {
  padding-top: 3rem;
}

.best-book-image {
  width: 120px; /* 원하는 너비 */
  height: 180px; /* 원하는 높이 */
  object-fit: cover; /* 이미지 비율 유지하며 자르기 */
  border-radius: 8px; /* 모서리 둥글게, 선택 사항 */
}
