@import "../var.scss";

/* Book Detail Page 스타일 */
.book-detail-page {
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
  }
}

.book-detail-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
  padding-top: 5rem;

  /* 왼쪽 이미지 */
  .book-detail-image img {
    width: 19rem;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  /* 오른쪽 상세정보 전체 */
  .book-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* 상단 정보 (제목, 저자, 가격) */
  .book-detail-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* 하단 정보 (책 소개, 버튼) */
  .book-detail-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* 책 소개 */
  .book-detail-description {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
      color: #000;
    }
  }

  /* 가격 */
  .book-price {
    margin: 1rem 0;

    .sale-price {
      font-weight: bold;
      color: #e74c3c;
    }
  }

  /* 버튼 영역 */
  .book-actions {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}